body {
  cursor: url('@/assets/images/cursor/default.png'), auto !important; // move cursor to assets/images/cursor/default.png
}
.pointer,
.btn {
  cursor: url('@/assets/images/cursor/pointer.png'), auto !important; // clickable cursor to assets/images/cursor/pointer.png
}

.text {
  cursor: url('@/assets/images/cursor/text.png'), auto !important; // text cursor to assets/images/cursor/text.png
}

:root {
  --theme: 'light';
  --theme-color: #18a058;
  --theme-light-color: #18a05899;
  --theme-light-color-1: #18a057e6;
  --theme-light-color-2: #18a057cc;
  --theme-light-color-3: #18a057b3;
  --theme-light-color-4: #18a0579f;
  --theme-light-color-5: #18a05775;
  --theme-light-color-6: #18a05762;
  --theme-light-color-7: #18a05753;
  --theme-light-color-8: #18a0574b;
  --theme-light-color-9: #18a05734;
  --m-menu-width: 260px;
  --font-family: '';
  --content-max-width: 920px;
  --content-max-width-m: 90%;
  --content-max-width-m-detail: 96%;

  --empty-text-color: #999999;

  --bg-meun-warp-color: #dbdbdbd2; // 菜单背景色
  --text-title-color: #333333;
  --text-color: #222222;
  --text-color-2: #777777;
  --bg-warp-color: #ffffffed;
  --bg-warp-light-color: #433e3e72;
  --bg-warp-light-color-2: #ffffff90;
  --bg-content-color: #ffffffa9;
  --bg-content-color-2: #e7e4e4a9;
  --bg-image-warp-color: #ffffff64;
  --bg-modal-color: transparent;
  --bg-modal-warp-color: #403f3f40;
  --bg-cover-color: #f9f4f48a;
  --border-color: #ece8e6;
  --bg-menu-flutter-color: #ffffff20;
  --code-light-color: #f38484;
  --code-color: #282727;
  --bg-code-color: #e2dfdf;
}

:root.dark {
  --theme: 'dark';
  --bg-meun-warp-color: #0b0b0bd2;
  --text-title-color: #5c5a5a;
  --text-color: #eeeeee;
  --text-color-2: #dddddd;
  --bg-warp-color: #333333b3;
  --bg-warp-light-color: #cbc3c372;
  --bg-warp-light-color-2: #81818172;
  --bg-content-color: #2f2f2fa9;
  --bg-content-color-2: #2f2f2fa9;
  --bg-image-warp-color: #333333b3;
  --bg-modal-color: transparent;
  --bg-modal-warp-color: #dad3d381;
  --bg-cover-color: #1e1e1e67;
  --border-color: #cbc3c372;
  --bg-menu-flutter-color: #00000020;
  --code-light-color: #4fc1ff;
  --code-color: #dddddd;
  --bg-code-color: #202222;
}

// 定义（在全局样式中定义）
@font-face {
  font-family: 优设标题黑;
  src: url('@/assets/font/fontFamily/优设标题黑.ttf');
}

@font-face {
  font-family: apple;
  src: url('@/assets/font/fontFamily/apple.ttf');
}

@font-face {
  font-family: 华文行楷;
  src: url('@/assets/font/fontFamily/STXINGKA.TTF');
}

@font-face {
  font-family: DSDIGI;
  src: url('@/assets/font/fontFamily/DSDIGI.TTF');
}

html {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--text-color);
}

/* 自定义整个滚动条 */
::-webkit-scrollbar {
  // width: 2px; /* 设置滚动条的宽度 */
  // height: 2px;
  width: 0;
  height: 0; /* 隐藏滚动条 */
}

/* 自定义滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 设置轨道的背景颜色 */
}

/* 自定义滚动条的滑块（thumb） */
::-webkit-scrollbar-thumb {
  background: var(--theme-light-color-3); /* 设置滑块的背景颜色 */
  border-radius: 2px;
}

/* 当滑块悬停或活动时，可以添加更多样式 */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-light-color); /* 设置滑块在悬停状态下的背景颜色 */
  border-radius: 2px;
}

.el-scrollbar {
  .el-scrollbar__bar.is-horizontal {
    height: 2px; // 添加横向高度
  }
  .el-scrollbar__bar.is-vertical {
    width: 2px; // 添加纵向宽度
  }
  // 横向滚动条
  .el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
    opacity: 1; // 默认滚动条自带透明度
    height: 2px; // 横向滑块的宽度
    border-radius: 2px; // 圆角度数
    background-color: rgba(136, 219, 255, 1); // 滑块背景色
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15); // 滑块阴影
  }
  // 纵向滚动条
  .el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
    opacity: 1;
    width: 2px; // 纵向滑块的宽度
    border-radius: 2px;
    background-color: rgba(136, 219, 255, 1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  }
}
