body {
  cursor: url('@/assets/images/cursor/default.png'), auto; // move cursor to assets/images/cursor/default.png
}
.pointer,
.btn {
  cursor: url('@/assets/images/cursor/pointer.png'), auto; // clickable cursor to assets/images/cursor/pointer.png
}

.text {
  cursor: url('@/assets/images/cursor/text.png'), auto; // text cursor to assets/images/cursor/text.png
}

:root {
  --theme: 'light';
  --theme-color: #18a058;
  --theme-light-color: #18a05899;
  --theme-light-color-1: #18a05713;
  --theme-light-color-2: #18a05730;
  --theme-light-color-3: #18a05745;
  --theme-light-color-4: #18a05760;
  --theme-light-color-5: #18a05775;
  --theme-light-color-6: #18a05780;
  --theme-light-color-7: #18a057a5;
  --theme-light-color-8: #18a057b9;
  --theme-light-color-9: #18a057d0;
  --m-menu-width: 260px;
  --font-family: '优设标题黑';
  --content-max-width: 820px;
  --empty-text-color: #999999;

  --text-color: #222222;
  --text-color-2: #555555;
  --bg-warp-color: #ffffffed;
  --bg-warp-light-color: #433e3e72;
  --bg-warp-light-color-2: #ffffff72;
  --bg-content-color: #ffffffef;
  --bg-image-warp-color: #ffffff5b;
  --bg-modal-color: transparent;
  --bg-cover-color: #f9f4f48a;
}

:root.dark {
  --theme: 'dark';
  --text-color: #eeeeee;
  --text-color-2: #999999;
  --bg-warp-color: #333333b3;
  --bg-warp-light-color: #cbc3c372;
  --bg-warp-light-color-2: #5a565672;
  --bg-content-color: #111111ef;
  --bg-image-warp-color: #333333b3;
  --bg-modal-color: transparent;
  --bg-cover-color: #2927278a;
}

// 定义（在全局样式中定义）
@font-face {
  font-family: 优设标题黑;
  src: url('@/assets/font/fontFamily/优设标题黑.ttf');
}

@font-face {
  font-family: apple;
  src: url('@/assets/font/fontFamily/apple.ttf');
}

@font-face {
  font-family: 华文行楷;
  src: url('@/assets/font/fontFamily/STXINGKA.TTF');
}

@font-face {
  font-family: DSDIGI;
  src: url('@/assets/font/fontFamily/DSDIGI.TTF');
}

html {
  font-family: var(--font-family);
}

/* 自定义整个滚动条 */
::-webkit-scrollbar {
  width: 2px; /* 设置滚动条的宽度 */
  height: 2px;
}

/* 自定义滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 设置轨道的背景颜色 */
}

/* 自定义滚动条的滑块（thumb） */
::-webkit-scrollbar-thumb {
  background: var(--theme-light-color-3); /* 设置滑块的背景颜色 */
  border-radius: 2px;
}

/* 当滑块悬停或活动时，可以添加更多样式 */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-light-color); /* 设置滑块在悬停状态下的背景颜色 */
  border-radius: 2px;
}

.el-scrollbar {
  .el-scrollbar__bar.is-horizontal {
    height: 2px; // 添加横向高度
  }
  .el-scrollbar__bar.is-vertical {
    width: 2px; // 添加纵向宽度
  }
  // 横向滚动条
  .el-scrollbar__bar.is-horizontal .el-scrollbar__thumb {
    opacity: 1; // 默认滚动条自带透明度
    height: 2px; // 横向滑块的宽度
    border-radius: 2px; // 圆角度数
    background-color: rgba(136, 219, 255, 1); // 滑块背景色
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15); // 滑块阴影
  }
  // 纵向滚动条
  .el-scrollbar__bar.is-vertical .el-scrollbar__thumb {
    opacity: 1;
    width: 2px; // 纵向滑块的宽度
    border-radius: 2px;
    background-color: rgba(136, 219, 255, 1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  }
}
