@import url('./reset.css');
@import url('./base.scss');

/*
 * Add your custom styles here
 * 标题样式居然消失了 只能自己加一下咯
 */
h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

h2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

h4 {
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

h6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
}
