@font-face {
  font-family: "iconfont"; /* Project id 4644629 */
  src: url('iconfont.woff2?t=1723020447401') format('woff2'),
       url('iconfont.woff?t=1723020447401') format('woff'),
       url('iconfont.ttf?t=1723020447401') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-fenxiang1:before {
  content: "\e7c5";
}

.icon-shijian:before {
  content: "\e61d";
}

.icon-comment:before {
  content: "\e632";
}

.icon-shuji:before {
  content: "\e6be";
}

.icon-shejiaotubiao-01:before {
  content: "\e641";
}

.icon-morentouxiang:before {
  content: "\e616";
}

.icon-xia:before {
  content: "\e600";
}

.icon-quotes-left:before {
  content: "\e601";
}

.icon-guanyu:before {
  content: "\e655";
}

.icon-shipinyingshi:before {
  content: "\e671";
}

.icon-jishufuwu:before {
  content: "\ebce";
}

.icon-guidang:before {
  content: "\e666";
}

.icon-fenxiang:before {
  content: "\e60d";
}

.icon-yinle:before {
  content: "\e63a";
}

.icon-list6:before {
  content: "\eb11";
}

.icon-shouye:before {
  content: "\e631";
}

.icon-jiaocheng-3:before {
  content: "\e795";
}

